
<%- include('../layouts/header', { title:'TODO-LIST' }) %>
<%- include('../layouts/menu') %>

<section class="section hero is-link is-fullheight-with-navbar">
    <div class="hero-body has-text-centered">
      <div class="container">
        <h1 class="title">
          TODO-LIST
        </h1>
        <h2 class="subtitle">
          Geranciando as atividades diárias
        </h2>
	<a href="/checklists" class="button is-light is-medium">Listas de Atividades</a>
      </div>
    </div>
  </section>

  <%- include('../layouts/footer') %>
